.gaming-library .item {
    border-bottom: 1px solid #27292a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
  }

  
  .gaming-library .item ul li {
    margin-top: 15px;
    
  }
  .gaming-library .item ul li h4 {
    color: white;
    
  }
  
  .gaming-library .item ul li img {
    margin-top: -30px;
  }
  
  .gaming-library .item ul li {
    display: inline-block;
    width: 17%;
  }
  
  .gaming-library .item ul li:first-child {
    width: 110px;
  }
  
  .gaming-library .item ul li:last-child {
    width: 15%;
    text-align: right;
  }
  
  .gaming-library .item ul li h4 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .gaming-library .item ul li span {
    color: #666;
    font-size: 14px;
  }
  
  .gaming-library .main-button {
    text-align: center;
    margin-bottom: -53px;
  }
  
  .main-border-button a {
    font-size: 14px;
    color: #ec6090;
    background-color: transparent;
    border: 1px solid #ec6090;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
  }
  
  .main-border-button a:hover {
    border-color: #fff;
    background-color: #fff;
    color: #e75e8d;
  }
  
  .border-no-active a {
    border-color: #666;
    color: #666;
  }
  
  .border-no-active a:hover{
    border-color: #666;
    color: #666;
    background-color: transparent;
  }
  